/* ROW 154 GRID IMAGES IMPORT */

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto-medium";
  src: url("../public/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../public/fonts/Roboto-Bold.ttf") format(("truetype"));
  font-weight: 700;
}

/* GENERAL SETTINGS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  appearance: none;
}

html, body {
  font-size: 10px;
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */

header {
  background-color: rgb(34, 34, 34);
  padding-block: 10px;
  position: relative;
  z-index: 10000;
}

.nav-link a {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.logo-container img {
  max-width: 120px;
  height: auto;
}

.nav-link {
  position: relative;
  padding-block: 15px;
}

.chevron-rotate {
  color: white;
  font-size: 1.4rem;
}

.nav_dropdown {
  position: absolute;
  display: none;
  background-color: white;
  -webkit-box-shadow: 1px 4px 12px 3px rgba(96, 96, 96, 0.3);
  box-shadow: 1px 4px 12px 3px rgba(96, 96, 96, 0.3);
  width: 240px;
  left: -30px;
  margin-top: 15px;
  z-index: 100;
}

/* DISPLAY DROPDOWN */



.nav_dropdown-list li a {
  color: black;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: none;
}

.nav_dropdown-list li a:hover {
  color: #4db2ec;
}

.nav_dropdown-list {
  width: 75%;
  margin: 20px auto;
}

.nav_dropdown-list li {
  margin-top: 15px;
}

.nav_dropdown {
  display: none;
}

.nav-link:hover .nav_dropdown {
  display: block;
}

/* MAIN CONTAINER */

.main-container {
  width: auto;
  max-width: 1440px;
  padding: 0 24px; 
  margin: 0 auto;
}

/* NEWS GRID */

.news-grid_card_header {
  font-family: "Roboto", "Helvetica Neue";
  padding: 10px 0 5px 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.news-grid_card_date {
  font-size: 1.1rem;
  color: #767676;
}

.news-grid_card_img-container {
  width: 100%; /* Adjust as needed */
  position: relative;
}

.news-grid_card_img-container img {
  width: 100%;
  object-fit: cover;
}

.news-grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 36px;
}

.news-grid_card:hover .news-grid_card_header {
  color: #4db2ec;
}

/* FOOTER */

footer {
  background-color: rgb(34, 34, 34);
  color: #cccccc;
  margin-top: 50px;
  position: relative;
  z-index: 10000;
}

.copyright {
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-container {
  padding-block: 15px;
}

.footer-links ul {
  display: flex;
  gap: 20px;
}

.footer-links ul li a {
  color: #cccccc;
  font-size: 1.4rem;
}

/* BACK TO TOP */

#back-to-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: gray;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 12232323;
}

#back-to-top:hover {
  background-color: black;
}

.close-btn {
  display: none;
}

.burger-menu {
  display: none;
}

.menu-chevron {
  display: inline-block;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {


  .news-grid_container {
    grid-template-columns: 1.2fr;
  }

  header {
    padding: 0 20px;
  }

  html {
    font-size: 10px;
  }

.nav_wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(254, 254, 254, 0.98);
    transition: .8s;
    overflow: auto;
    
}

.nav_wrapper .nav-link a{
  color: #a3a3a3;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 2.1rem;
  text-transform: capitalize;
}

.nav-list {
  flex-direction: column;
  padding: 20px 30px 0;
  gap: 15px;
}

.nav-link {
  padding: 0;
}

.menu-chevron {
  float: right;
}

.chevron-rotate {
  font-size: 1.2rem;
  color: #a3a3a3;
  padding: 10px;
}

.nav-link  a{
  display: inline-block;
  width: 90%;
}

.close-btn {
  display: block;
  font-size: 4rem;
  color: #a3a3a3;
  text-align: right;
  padding: 10px 25px;
}


  .burger-menu {
    display: block;
  }

  .burger-menu i{
    display: block;
    color: white;
    height: 100%;
    width: 100%;
  }

  .fa-bars:before, .fa-navicon:before {
    font-size: 23px;
  }

  #back-to-top {
    display: none !important;
  }

  footer .header-flex {
    width: 100%;
    margin: 0;
    padding: 14px 10px;
  }

  footer .copyright, .footer-links ul li a{
    font-size: 11px;
  }
  

  .nav_dropdown {
    display: none;
  }

 .display-nav-dropdown {
   position: static;
  display: block;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  margin-top: 15px;

 }

 .nav_dropdown-list {
  width: 92%;
 }

 .nav_dropdown-list li a{
  font-size: 1.6rem !important;
 }

 .nav_dropdown-list li a:hover {
  color: inherit;
 }

}
